# Homework 1 Week -01

## MLOps Zoomcamp

Link to the [homework](https://github.com/DataTalksClub/mlops-zoomcamp/blob/main/cohorts/2023/01-intro/homework.md)

The goal of this homework is to train a simple model for predicting the duration of a ride - similar to what we did in this module.

## Q1. Downloading the data

We'll use [the same NYC taxi dataset](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page),
but instead of "**Green** Taxi Trip Records", we'll use "**Yellow** Taxi Trip Records".

Download the data for January and February 2022.

Read the data for January. How many columns are there?

* 16
* 17
* 18
* 19

In [1]:
!ls

data  homework-week-01-intrduction.ipynb

In [2]:
!mkdir data

mkdir: cannot create directory ‘data’: File exists

In [3]:
%cd data/

/home/ubuntu/MLOps-zoomcamp/homeworks/week-01-introduction/data

In [4]:
!pwd

/home/ubuntu/MLOps-zoomcamp/homeworks/week-01-introduction/data

In [5]:
ls

yellow_tripdata_2022-01.parquet  yellow_tripdata_2022-02.parquet

In [6]:
#!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet

In [7]:
#!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet

In [8]:
!ls

yellow_tripdata_2022-01.parquet  yellow_tripdata_2022-02.parquet

In [10]:
import pandas as pd

In [15]:
df = pd.read_parquet('yellow_tripdata_2022-01.parquet')

In [14]:
#!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-12.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.9/38.9 MB 33.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.6 in /home/ubuntu/anaconda3/lib/python3.10/site-packages (from pyarrow) (1.23.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.0

In [17]:
df.head().T

,0,1,2,3,4
VendorID,1,1,2,2,2
tpep_pickup_datetime,2022-01-01 00:35:40,2022-01-01 00:33:43,2022-01-01 00:53:21,2022-01-01 00:25:21,2022-01-01 00:36:48
tpep_dropoff_datetime,2022-01-01 00:53:29,2022-01-01 00:42:07,2022-01-01 01:02:19,2022-01-01 00:35:23,2022-01-01 01:14:20
passenger_count,2.0,1.0,1.0,1.0,1.0
trip_distance,3.8,2.1,0.97,1.09,4.3
RatecodeID,1.0,1.0,1.0,1.0,1.0
store_and_fwd_flag,N,N,N,N,N
PULocationID,142,236,166,114,68
DOLocationID,236,42,166,68,163
payment_type,1,1,1,2,1
fare_amount,14.5,8.0,7.5,8.0,23.5
extra,3.0,0.5,0.5,0.5,0.5
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,3.65,4.0,1.76,0.0,3.0
tolls_amount,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,0.3,0.3,0.3,0.3,0.3
total_amount,21.95,13.3,10.56,11.8,30.3
congestion_surcharge,2.5,0.0,0.0,2.5,2.5
airport_fee,0.0,0.0,0.0,0.0,0.0

In [19]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [24]:
df.shape

(2463931, 19)

**Q1 Answer**

`19`

## Q2. Computing duration

Now let's compute the `duration` variable. It should contain the duration of a ride in minutes. 

What's the standard deviation of the trips duration in January?

* 41.45
* 46.45
* 51.45
* 56.45